body {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

h1,
h2,
#heading {
    color: #254384;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px black;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: blue;
}

a:focus,
a:hover {
    color: purple;
}

#work-section {
    display: flex;
    padding-left: 15px;
    flex-grow: 1;
}

#side-info {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    flex: 1;
    border-right: lightgray thin solid;
    padding-right: 2px;
}

#contact {
    flex-grow: 1;
    max-height: 400px;
}

#contact h3 {
    margin-bottom: 0;
}

#contact h4 {
    margin-top: 0;
}

#education {
    flex-grow: 1;
    max-height: 400px;
}

#tech {
    flex-grow: 1;
    max-height: 400px;
}